<!DOCTYPE html>

<html>
	<head>
		<title>Vincent's CRM app</title>
		<meta charset="UTF-8">
		<meta name="og:title" content="Vincent's CRM app">
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>

	<body>
		<nav class="navigation">
			Quick navigation: <a href="/">Main Menu</a> <a href="/contacts">All Contacts</a> <a href="/contacts/new">Add Contact</a>
		</nav>
		<header>
			<h1 class="welcome">Vincent's CRM app</h1>
		</header>

		<%= yield %>







		<footer>
			&copy; 2014 Vincent Jim 
		</footer>
	</body>
</html>
