.navigation {
	color: blue;
	margin: 0;
	padding: 0;
	display: inline-block;

}

.welcome {
	background-color: navy;
	color: white;
	margin: 0;
	padding: 0;

}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}